body{
    background-image: url('/styles/images/matrix.gif');
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
}

label {
    background-color: black;
}

h1 {
    font-family: Matrix;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 25px;
    background-color: black;
}